
/* overwrite shared css */

.backdrop{
   
   
    height: 170.5vh;
   
}

.button-highligthed{
    color:white;
    box-shadow: 1px 1px 3px 2px rgba(255, 255, 255, 0.5);
}


/* ---- end overwrite ---- */

#product-overview {
   
    /* background: linear-gradient(to top,rgba(80,68,18,0.6) 10%,transparent),url(freedom.jpg) left 10% bottom 70%/ cover no-repeat border-box, #ff1b68; */
    background: linear-gradient(to top,rgba(80,68,18,0.6) 10%,transparent),url(freedom.jpg) center/ cover no-repeat border-box, #ff1b68;
    /* background-image: url(freedom.jpg);
    background-size:cover;
    background-position: left 10% top 5%; */
    /* background-image: linear-gradient(to top,rgba(80,68,1),blue); */
    /* background-image: linear-gradient(45deg, red, transparent); */
    /* background-image: linear-gradient(45deg, red 35%, blue, transparent); */
    /* background-image: radial-gradient(circle 90px at 20% 60%,blue, green,yellow); */
    /* background-image: radial-gradient(ellipse ,blue, green,yellow); */
    /* abackground-image: radial-gradient(ellipse ,blue, green,yellow); */
    /* background-image: radial-gradient(ellipse farthest-corner at 15% 85% ,blue, green,yellow); */

    position:relative;
    width: 100vw;
    height:42vh;
    margin: 0;
    z-index: 0;
}


 .product-overview__branding{
    color:white;
    font-family: 'Anton', sans-serif ;
    z-index: 0;
    position: absolute; 
    top:12rem;
    left: 2rem;
    font-size:1.6rem;
}





.toggle-button{
    position: relative;
    left:1.4rem;
}


.main_body{
    width:100%;
    
}




.plan{
    padding: 1.6rem;
    background: #a0f6b7;
    text-align: center;
    padding: 0.8rem 0.5rem;
    margin: 2rem auto;
    max-width: 20rem;
    border-radius:8px;
    /* vertical-align: middle; */
}

.section-title{
    text-align: center;
}

.plan__list{
    text-align: center;
    width: 95%;
    margin: 1rem 0.3rem;
    
    /* text-align: center; */
}

.plan--highlighted{
    background: #19b84c;
    color:white;
    border-radius: 10px;
    /* border: 3px solid rgb(255, 255, 255); */
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.659); */
    padding: 1rem 1rem;
}

.plan__list .plan:hover{
    box-shadow: 1px 1px 10px 3px red ;
}


.plan__annotation {

    background: white ;
    color: #0e4f1f;
    padding: 0.7rem 0.6rem;
    box-shadow: 2px 3px 0px 0px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.plan__description--li{
    list-style: none;
    padding:0;
}

.plan__description--li li{
    margin:8px 0;
}

.plan__title{
    color: #0e4f1f;
}

.plan__pricing{
    color:rgba(0, 0, 0, 0.457)
}

.plan--highlighted .plan__title{
    color: white;
}

.plan--highlighted .plan__pricing {
    color:#000000;
    border-radius:6px;
    padding: 1.01rem;
    box-shadow: 1px 1px 10px 3px #a0f6b7;
}



#key-features{
    /*  #ff1b68  */
    background: linear-gradient(to bottom, transparent 1%,#ff1b68) ;
    /* margin: 2rem 0; */
    padding: 0.8rem;
    padding-bottom: 1.6rem;
   
}




#key-features .section-title{
    color: #35b000;
    margin-bottom: 4rem;
}

#key-features > ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-weight:bold;
    align-self:center;
}

#key-features > ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style:none;
    color: #030303;
    font-weight:bold;
    align-items: center;
    width:90%;
}

#key-features > ul, #key-features > ul > li, #key-features > ul > p{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size:1.2rem;
    vertical-align: top;

}

#key-features ul p {
    margin-top: 20px;
}

#key-features > ul p::before{
    counter-increment: list-item ;
    content:counter(list-item)") " 
}

.key--feature__image{
    background:#ffffff;
    width:128px;
    height: 120px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding:23px;
}


/* h1{
    margin-top: 0;
    margin-bottom: 0;

} */

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid rgb(255, 255, 255);
    /* box-shadow: 1px 1px 1px rgb(76, 250, 102); */
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #1c9e3f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #6cf907fe;
    border-color: #007e13;
    color: black;
  }
  
  .modal__action--negative {
    background: rgba(166, 5, 5, 0.672);
    border-color: rgba(187, 17, 17, 0.79);
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #f33d3d;
    border-color: #ff5454;
    color:black;
  }

  .section-title{
    font-size: 1.3rem;
    margin: 3.5rem 0 0.8rem 0;
   }

   #key-features ul > li{
    position: relative;
    display: inline;
    width: 30%;
   }

   .key--feature__image svg{
    /* width: 5rem;
    height: 5rem; */
    width: 5rem;
    height: 5rem;
   }

   .key--feature__image {
    /* width: 8rem;
    height: 8rem; */
    width: 10rem;
    height: 10rem;

   }
  
   .feature{
    font-size: 1.2rem;
   }


   .main-header__brand img{
    position:fixed;
    left: 2.2rem;
    top:0.4rem;
   }

   .main-nav, .main-header__brand, .main-nav__items {
    display: none;
    /* margin:0;
    padding:0; */
   }

   .main-header{
    position:fixed;
  }



  @media (min-width:42rem){
    #product-overview{
        height:45vh;
        background-position: 50% 25%;
        top: 3.2rem;
        /* margin-top: 4rem; */
    }
   
    #product-overview h1{
        font-size: 3rem;
        top:15rem;
    }

    .main-nav, .main-header__brand, .main-nav__items {
        display: inline-block;
       
        margin:0.34rem;
        padding:0;
       }
       .main-nav__items {
        width: 65%;
        align-items:flex-end;
       }

       .main-header__brand a img {

        display: inline-block;
        width: 3rem;   
        /* margin:0.2rem; */
        z-index: 2;   
    }  

    #plans{
        margin-top:8rem;
    }
 
    #key-features .section-title{
        
        margin-bottom: 6rem;
    }
     

    .plan__list{
        width: 100%;
        /* margin: 0.5?rem; */
    }
    .plan{
        display: inline-block;
        width:29%;
        text-align: center;
        vertical-align: middle;
        margin: 0 0.2rem;
       
    }


       #key-features{
        display: inline-block;
        margin: 4rem 0 0 0;
        padding:0;
        width: 100vw;
        height: 500px;
        
       }
       

       #key-features ul{
        
        width: 100%;
        height: 30rem;
        position:absolute;
        display: inline-block;
        bottom: 0;
        vertical-align: middle;
        margin-bottom: 6rem;
       }
       

       #key-features ul li{
        margin-top: 15rem;
        position: relative;
        display: inline-block;
        width: 30%;
        height: 200px;
        
        
       }

       #key-features ul li div{
        width: max-content;
        height: max-content;
        position: block;
        display: inline;
        
       
       }

       /* .key--feature__image svg{
         width: 5rem;
        height: 5rem; 
        width: 2.1rem;
        height: 2.1rem;
       } */

       #key-features ul li div p{
        height: 12rem;
        font-size: 1rem;
        position: absolute;
        display: block;
        top: 10rem;
       
       } 

     .key--feature__image {
      /* width: 8rem;
      height: 8rem; */
       display: block;
       width: 4rem;
       height: 4rem;
       }
  
  
   .feature{
  
     color: white;

   }

   
   
    
}
