main {
  padding-top: 12rem;
}

.testimonial {
    font-size: 1.2rem;
  }
  
  /*.testimonial__list {
    width: 80%;
    margin: auto;
  }*/

  .main-header{
    
    text-decoration: none;
    background-color:#24d453;
   /* vertical-align: middle; */
    /* margin-top:0.8rem; */
    /* padding: 0.8rem ; */
    position:fixed;
    display: block;
    width: 100%;
    z-index: 1;
    padding:0.97rem;
}
.toggle-button{
  position: absolute;
  top: 0.15rem;
}

.main-header__brand{
  padding:0;
  margin:0;
}

.main-header__brand img{
  position: relative;
  left: 0.8rem;
  
}



  .main-header__brand .toggle-button{

    position: absolute;

    /* top:0.6rem; */
  }

  /* .main-header__brand{
    /* padding-left: 0.2rem; 
    padding:1rem;
  } */

  .testimonial__image-container {
    width: 100%;
    max-width: 40rem;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
  }

  .testimonial__image {
    width: 100%;
    vertical-align: top;
  }
  
  .testimonial__info {
    text-align: right;
    padding: 0.9rem;
  }


.main-header > div{
  display: inline;
  vertical-align: middle;
  
}
  
  
  #customer-2.testimonial {
    text-align: right;
  }
  
  #customer-2 .testimonial__info {
    text-align: left;
  }
  
  .testimonial__name {
    margin: 0.2rem;
    color: #ff5454;
    font-size: 2rem;
  }
  
  .testimonial__subtitle {
    margin: 0;
    font-size: 1.1rem;
    color: #ccc;
  }
  
  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }
  

  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }

  .testimonial__text {
    margin: 0.2rem;
  }

  @media (min-width: 42rem) {

    

    .main-header{
      width: 100%;
      padding: 0.58rem;
      margin: 0;
      position:relative;
      display: block;
     
     
  }

    .main-header__brand{
      padding:0;
      margin:0;
    }

    .main-header__brand img{
      display: none;
      height: 2.2rem;
      width:100%;
      vertical-align: middle;
  }

  .toggle-button {
    margin:0;
    top: 0;
   
  }
  
    .testimonial {
      font-size: 1.3rem;
      margin: 3rem auto;
      max-width: 1500px;
    }

    .testimonial__image-container {
      display: inline-block;
      vertical-align: middle;
      width: 66%;
    }

    .testimonial__info {
      display: inline-block;
      vertical-align: middle;
      width: 30%;
    }
   
    .main-nav, .main-header__brand, .main-nav__items {
      display: inline-block;
      vertical-align: middle;
      padding:0.18rem;
      
     }
     .main-nav {
      
      position: absolute;
      right: 0.3rem;
      width: 65%;
      align-items:flex-end;
     }
     .main-nav__items {
      /* padding:1rem; */
      width: 100%;
      align-items:flex-end;
     }
    
  }
  
  